<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>{{addPetData.pageTitle}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
  <p>{{addPetData.requiredHelper}}</p>

  <h4>{{addPetData.basicSectionTitle}}</h4>
  <ion-list>
    <ion-item>
      <ion-label floating>{{addPetData.name}}</ion-label>
      <ion-input type="text" value=""></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>{{addPetData.dob}}</ion-label>
      <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="today"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label floating>{{addPetData.breed}}</ion-label>
      <ion-select [(ngModel)]="selectedBreed"> 
        <ion-option *ngFor="let breedType of breedTypes" [value]="breedType.value">{{breedType.name}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <h4>{{addPetData.bodySectionTitle}}</h4>
  <ion-list>
    <ion-item>
      <ion-label floating>{{addPetData.length}}</ion-label>
      <ion-input type="text" value=""></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>{{addPetData.neckSize}}</ion-label>
      <ion-input type="text" value=""></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>{{addPetData.chestSize}}</ion-label>
      <ion-input type="text" value=""></ion-input>
    </ion-item>
  </ion-list>

  <h4>{{addPetData.careSectionTitle}}</h4>
  <p>{{addPetData.careSectionHelper}}</p>

  <ion-list *ngFor="let careDetail of careDetails;">
    <ion-item>
        <ion-label for="careDetail.value">{{careDetail.name}}</ion-label>
        <ion-checkbox [id]="careDetail.value" (ionChange)="onCheckCare(careDetail)"></ion-checkbox>
      </ion-item>
    <partial-setup-schedule [care]="selectedCareDetail"></partial-setup-schedule>
  </ion-list>

  <button ion-button secondary (click) = "savePetInfo()">{{addPetData.saveBtn}}</button>
</ion-content>